    <nav class="navbar navbar-inverse navbar-fixed-top texto-cabecera" style="height: 90px;">                            
        
        <div class="container">
                         
             <a class="navbar-brand" href="." style="position: absolute;font-size: 40px;color: white;">SIGOP </a>            
    
                              
             <!--  <ul class="nav navbar-nav navbar-right oculta" style="margin-bottom: 15px; margin-top: 15px;">
                            <li class="">                      
                                <a href="./#Contacto" style="font-size: 14pt;color: white;float: left;">Contacto</a>
                                <span class="glyphicon glyphicon-comment" aria-hidden="true" style="float: left;margin-top: 15px;font-size: 23px;color: white;"></span>
                            </li>
                        </ul> -->           
                                             
            
        </div>
    </nav> 

            <div id="sec1" class="overlay" style="position: fixed;">
                       
            <div class="container-fluid">
                              
                    <div class="row text" style="width: 95%;height: 80px;margin-top: -70px;margin-left: 10%;">
                        <div class="col-lg-9"></div>                                
                        <div class="col-lg-1" ><span id="cerrar" style="cursor: pointer">X CERRAR</span></div>                                
                        <div class="col-lg-2"></div>                              
                    </div>     
                
                   <div class="row text" style="width: 90%;height: 100px;margin-top: 0px;margin-left: 10%;cursor: pointer;">
                       <div class="col-lg-4">
                        <a href="modulo-de-ventas" style="color: white;"><span class="glyphicon glyphicon-chevron-right" style="font-size: 18pt;"></span> MÓDULO DE PEDIDOS Y VENTAS</a>
                      </div>
                    </div>
                    
                    <div class="row text" style="width: 90%;height: 100px;margin-top: 70px;margin-left: 10%;cursor: pointer;">                       
                        <a href="modulo-de-cobranzas" style="color: white;"><div class="col-lg-4"><span class="glyphicon glyphicon-chevron-right" style="font-size: 18pt;"></span> MÓDULO DE COBRANZAS / CAJA </div></a>                                              
                    </div>
                    
                    <div class="row text" style="width: 90%;height: 100px;margin-top: 140px;margin-left: 10%;cursor: pointer;"> 
                        <a href="modulo-de-almacen" style="color: white;"><div class="col-lg-4"><span class="glyphicon glyphicon-chevron-right" style="font-size: 18pt;"></span> MÓDULO DE ALMACEN </div></a>
                    </div>                                

                    <div class="row text" style="width: 90%;height: 110px;margin-top: 210px;margin-left: 10%;cursor: pointer;">
                        <div class="col-lg-4"><span class="glyphicon glyphicon-chevron-right" style="font-size: 18pt;"></span> MÓDULO DE COMPRAS</div>                                            
                    </div>
                
                    <div class="row text" style="width: 90%;height: 110px;margin-top: 280px;margin-left: 10%;cursor: pointer;">
                        <div class="col-lg-4">
                            <a href="modulo-de-configuracion" style="color: white;"><span class="glyphicon glyphicon-wrench" style="font-size: 18pt;"></span> MÓDULO DE CONFIGURACIONES</a>
                        </div>                                            
                    </div>
               
            </div>
            
        </div>  